<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet'/>
    <script src="map.js"></script>
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="allpg.css" rel="stylesheet">

    <title>BusTracker</title>
</head>

<body>
  
    <!--------------------------------------------------------- NAVBAR START -------------------------------------------------->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <div class="wrapper">

        <nav>
            <div class="logo icon">
                <lord-icon src="https://cdn.lordicon.com/oaflahpk.json" trigger="loop" delay="5000" axis-x="60"
                    axis-Y="45" colors="primary:#e88c30" state="hover-jump-spin" style="width:50px;height:30px">
                </lord-icon>
                <h4>Bus Tracker</h4>
            </div>
            <ul class="nav-links">
              <%if(!home) { %>
                <li class="icon"><a href="/">Home</a></li>
              <% } %>
              <% for(let i = 1; i <= 3; i++) { %>
                <% if(id == i) {  continue } %>
                <li><a href="/<%= i %>">Bus <%= i %></a></li>
              <% } %> 
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    
    </div>
    <!--------------------------------------------------------- NAVBAR END -------------------------------------------------->
    
        <div class="dummy"></div>
        <div class="container">

            <%- body %>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                    crossorigin="anonymous"></script>
                <script src="allpg.js"></script>
        </div>

        <div class="dummy2"></div>
    <!--------------------------------------------------------- FOOTER START -------------------------------------------------->
    <footer class="text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
    
            <!-- Twitter -->
            <a
              class="btn circle text-white btn-floating m-1"
              style="background-color: #55acee;"
              href="https://twitter.com/21ita38B?t=Xv-1Y5zZx6k4SBc6MuPi7Q&s=09"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
            <!-- Instagram -->
            <a
              class="btn circle text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/_mr_v_i_p_e_r_/"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn circle text-white btn-floating m-1"
              style="background-color: #0082ca;"
              href="https://www.linkedin.com/in/manoj-b-a79798244"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              class="btn circle text-white btn-floating m-1"
              style="background-color: #333333;"
              href="https://github.com/BManoj04"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-white">Manoj</a>
        </div>
        <!-- Copyright -->
      </footer>
    <!--------------------------------------------------------- FOOTER END -------------------------------------------------->
</body>
</html>