.banner{
  z-index:100; 
  position: relative;
}
.dummy {
  margin-bottom: 40px;
}

.dummy2 {
  margin-top: 40px;
}
.icon{
  display: flex;
  align-items: stretch;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body {
 margin: 0 auto;
 overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 13vh;
  /*   background-color: #222; */
  /* position: fixed; */
  width: 100%;
  transition: all 300ms ease-in-out;
  border-bottom: dotted 1px #F37335;
  
  margin-top: 5px;
}

.logo {
  color: #F37335;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
  
}
.nav-links a {
  color: #ddd;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.nav-links a:hover {
  color: #F37335;
}
.nav-links li {
  list-style: none;
}
.burger {
  display: none;
  
}
.burger div {
  width: 28px;
  height: 4px;
  background-color: #ddd;
  margin: 5px;
  transition: all 300ms ease-in;

}

/* ----------------------------------------------------- */

@media screen and (max-width: 900px) {
  .nav-links {
  width: 78%;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
 .nav-links {
   position: absolute;
   right: 0px;
   height: 100vh;
   top: 0;
   background-color: rgba(34,34,34,1);
   flex-direction: column;
   align-items: center;
   width: 60%;
   transform: translateX(100%);
   transition: all 400ms ease-in-out; 
   padding-top: 50px;
   background-color: #F37335;
}
 
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger div {
    background-color: #ddd;
  }
}  /*  Media Query 768 End  */

  .nav-activ {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 8px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }