<%- layout("layouts/allpg.ejs") %>

  <link rel="stylesheet" href="home.css">
  <ul class="card-list">

    <% for (let i=1; i<=10;i++){ %>
      <li class="card">
        <a class="card-image" href="\<%= i %>"
          style="background-image: url(https://c8.alamy.com/comp/KR7B5P/yellow-school-bus-transportation-of-students-and-pupils-vector-illustration-KR7B5P.jpg);"
          data-image-full="https://c8.alamy.com/comp/KR7B5P/yellow-school-bus-transportation-of-students-and-pupils-vector-illustration-KR7B5P.jpg">
          <img
            src="https://c8.alamy.com/comp/KR7B5P/yellow-school-bus-transportation-of-students-and-pupils-vector-illustration-KR7B5P.jpg"
            alt="Psychopomp" />
        </a>
        <a class="card-description" href="\<%= i %>">
          <h2>
            <%= "Bus " + i %>
          </h2>
          <p>Track Location</p>
        </a>
      </li>
      <% } %>

  </ul>
  <script src="home.js"></script>